/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Arial", sans-serif;
  font-size: 62.5%;
  min-height: 100%;
  background-color: #ededed;
  max-width: 1920px;
  margin: 0 auto;
}
